:root{
	--primary-color: #ff67bd;
	--bg-color: #171717;
}
*{
	padding: 0;
	margin: 0;
	border: none;
}
html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: helvetica;
	background-color: var(--bg-color);
}
body{
	position: fixed;
	width: 100vmin;
	height: 100vmin;
	top: calc(50vh - 50vmin);
	left: calc(50vw - 50vmin);
}
body > *:not(a), body > a > input{
	position: absolute;
}
a{
	outline: none;
}
h2, p, label, input{
	color: var(--primary-color);
	transition: opacity .3s ease-out, transform .3s ease-out;
}
h2, p, label{
	user-select: none;
	z-index: -1;
}
h2, p{
	width: 100%;
	left: 0;
	text-align: center;
}
input{
	background: none;
	outline: none;
}
input[type=time]{
	-webkit-appearance: none;
	width: 18%;
}
input[type=time]::-webkit-date-and-time-value{
	margin: 0;
}
input[type=time]::-webkit-datetime-edit-fields-wrapper{
	display: flex;
}
input[type=time]::-webkit-inner-spin-button, input[type=time]::-webkit-clear-button{
	display: none;
}
input[type=time]::-webkit-datetime-edit-hour-field, input[type=time]::-webkit-datetime-edit-minute-field{
	transition: background .2s ease-out, color .2s ease-out;
	border-radius: 25%;
}
input[type=time]::-webkit-datetime-edit-hour-field:focus, input[type=time]::-webkit-datetime-edit-minute-field:focus{
	background: rgba(255, 255, 255, .3);
}
input#start{
	left: 13%;
}
input#end{
	right: 13%;
}
p.input, input.input{
	font-size: 5.6vmin;
	top: 45%;
	height: 10%;
}
p.input{
	top: 46.5%;
}
.foutput input.input, .foutput p.input{
	transform: translateY(-350%) scale(0.9, 0.9);
}
h2.input{
	opacity: 1;
	font-size: 7.3vmin;
	top: 15%;
}
.foutput > h2.input{
	transform: translateY(-160%) scale(0.75, 0.75);
	opacity: 0;
}
.finput h2.output{
	opacity: 0;
	transform: translateY(400%);
}
.output:not(h2){
	opacity: 0;
	transition: opacity .2s ease-out;
}
.foutput .output:not(h2){
	opacity: 1;
	transition: opacity .5s ease;
}
h2.output{
	top: 30%;
	font-size: 6vmin;
}
#result{
	font-size: 7.3vmin;
	caret-color: transparent;
	top: 51.5%;
	right: 54%;
	width: 30%;
	text-align: right;
	text-shadow: 0.04em 0.02em #161719;
}
label.output{
	font-size: 3.5vmin;
	top: 59.5%;
	right: 52%;
	text-align: right;
}
#result::selection{
	background-color: #3297FD;
	color: var(--primary-color);
}

#copy{
	left: 39%;
	top: 37%;
	width: 45%;
	height: 45%;
	z-index: -1;
}
#copy path.main, path.mainPressed{
	fill: #232528;
	stroke: #232528;
}
#copy path.shadow{
	fill: var(--primary-color);
	stroke: var(--primary-color);
	transition: fill .5s ease, stroke .5s ease;
}
#copy text{
	fill: var(--primary-color);
	user-select: none;
}
#copy.pressed path.shadow{
	animation: pressedShadow 7s 1 ease-in;
}
@keyframes pressedShadow {
	3%{
		fill: #327CFD;
		stroke: #327CFD;
	}
}

@media (prefers-reduced-motion: reduce){
	*{
		transition: none !important;
	}
}